.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
  }

  .container {
    position: relative;
    width: 300px;
    height: 200px;
  }

  .card {
    position: absolute;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-1 {
    background: rgb(104,43,222);
    background: linear-gradient(180deg, rgba(104,43,222,1) 0%, rgba(49,0,233,1) 71%, rgba(49,0,233,1) 100%);
    top: 0;
    left: 0;
    z-index: 2;
    width: 350px;
    height: 480px;
    padding: 20px;
  }
  
  .card-2 {
    background: white;
    box-shadow: 2px 2px 5px rgb(197, 197, 197);
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 700px;
    height: 480px;
    padding: 20px;
    color: black;
    display: flex;
  }

  .card-2 .content {
   position: absolute;
   left: 460px;
  }

  .circle-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background: rgb(53,12,173);
    background: linear-gradient(180deg, rgba(53,12,173,1) 0%, rgba(85,48,194,1) 90%);
    border-radius: 50%;
    margin: 35px 0;
  }

  .score {
    font-size: 70px;
    color: whitesmoke;
    font-weight: bold;
    line-height: 1;
  }

  .desc-score {
    font-size: 17px;
    color: grey;
    opacity: 0.8;
    margin-top: 17px;
  }

  .title-desc-1 {
    font-weight: bold;
    color: whitesmoke;
    font-size: 30px;
  }

  .desc-1 {
    margin-top: 15px;
    flex-wrap: wrap;
    font-size: 18px;
    color: white;
    opacity: 0.7;
  }

    .column-data {
        padding-bottom:15px;
    }


    .part.reaction {
    width: 290px;
    height: 50px;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    position: relative;
    right: 30px;
  }

  .reaction {
    background-color: rgb(246, 209, 209);
  }

  .reaction .desc-name {
    color: salmon;
  }

  .reaction.left-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .left-section.desc-name {
    position: relative;
    top: 3px;

  }

  .right-section {
    display: flex;
    flex-direction :row;
    color: gray;
    gap: 10px;
    padding: 10px;
  }

  .right-section.bold-numb {
    color: black;
  }

  .part.memory {
    width: 290px;
    height: 50px;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    position: relative;
    right: 30px;
  }

  .part.memory {
    background-color: rgb(243, 246, 209);
  }

  .left-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .memory .desc-name {
    color: rgb(245, 198, 46);
  }

  .left-section.desc-name {
    position: relative;
    top: 3px;
  }

  .right-section {
    display: flex;
    flex-direction :row;
    color: gray;
    gap: 10px;
    padding: 10px;
  }

  .right-section .bold-numb {
    color: black;
  }

  .part.verbal {
    width: 290px;
    height: 50px;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    position: relative;
    right: 30px;
  }

  .part.verbal {
    background-color: rgb(227, 246, 209);
  }

  .left-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

    .verbal .desc-name {
        color: rgb(13, 209, 173);
    } 

  .left-section.desc-name {
    position: relative;
    top: 3px;

  }

  .right-section {
    display: flex;
    flex-direction :row;
    color: gray;
    gap: 10px;
    padding: 10px;
  }

  .right-section .bold-numb {
    color: black;
  }

  .part.visual {
    width: 290px;
    height: 50px;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    position: relative;
    right: 30px;
  }

  .part.visual {
    background-color: rgb(210, 214, 246);
  }

  .left-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .visual .desc-name {
    color: blue;
  }

  .left-section.desc-name {
    position: relative;
    top: 3px;

  }

  .right-section {
    display: flex;
    flex-direction :row;
    color: gray;
    gap: 10px;
    padding: 10px;
  }

  .right-section .bold-numb {
    color: black;
  }

  .continue {
    padding: 10px 20px;
    border-radius: 25px;
    background: rgb(10, 0, 122);
    color: white;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    font-size: 20px;
  }